body{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}
.half{
 width: 50%;
}
.falex{
  display: flex;
  padding-bottom: 100px;
  margin: 50px;
}
#orange{
  color: orange;
}
h1{
  font-size: 50px;
  ;
}
.linkbutton{
  text-decoration: none;
  background-image: linear-gradient(orange, red);
  padding: 10px 40px ;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}
#banner1{
  background-image: url(image/bg1.jpg);
  padding: 100px ;
  background-repeat: no-repeat;
  background-size: cover;
  
}
#image2{
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
#imageleft{
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

#banner2{
  background-image: url(image/bg2.jpg);
  padding: 100px ;
  background-repeat: no-repeat;
  background-size: cover;
}

footer{
  text-align: center;
  padding: 100px 0px 40px 0px;
}
#good-learning{
  text-align: center;
}

.shovohasan{
  display: flex;
  font-size: 20px;
  
}

.shovohasan2{
  width: 50%;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 10px 10px 40px rgb(0, 0, 0);
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 60px;
  padding-bottom: 70px;
  padding-top: 70px;
}